@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
* {
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 95vh;
  width: 95vw;
  background-image: url("couple.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
